<div class="container-fluid mt-5">
    <div id="repo">
        <app-search-form (searched)="reposearch($event)"></app-search-form>
    </div>
    <div class="container mt-5">
        <div class="container justify-content-center row" id="view">
            <div class="card col-3 m-2" appHighlight *ngFor="let repository of rep" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="head">{{repos.name}} </h5>
                    <div class="card-text">
                        <hr>
                        <span>Description:</span> {{repos.description}}
                        <hr>
                        <span>Language: </span> {{repos.language}}&nbsp;&nbsp;{{repos.updated_at | repoDate}}
                    </div>
                </div>
                <div class="card-footer" id="btn">
                    <button class="btn btn btn-success"><a href="{{repos.html_url}}">Visit Repo</a></button>
                </div>
            </div>
        </div>
    </div>
</div>