<div class="container user">
    <div id="rotate">
        <app-search-form (searched)="makeSearch($event)"></app-search-form>
    </div>
    <div class="row justify-content-left " ng-container *ngIf="user">
        <div class="col-md-4 nkak">
            <div class="container">
                <img src="{{user.avatar_url}}" alt="Avatar" class="image">
            </div>
            <p class="username">
                {{user.name}}
            </p>
            <p>
                <span><strong>Username :</strong> </span> {{user.login}}
            </p>
            <p><strong>Repositories:</strong> {{user.public_repos}}
            </p>
            <p>
                <i class="fa fa-map-marker" id="fa" aria-hidden="true"></i>{{user.location}}
            </p>
            <p><strong>Followers:</strong> {{user.followers}}<strong>  Following:</strong> {{user.following}}
            </p>
            <p> <strong>Created on:</strong> {{user.created_at | date}}
            </p>
            <div class="btn">
                <button class="btn btn-secondary"><a href="{{user.html_url}}">Visit GitHub</a></button>
    
        </div>
        </div>
        <div class="container mt-5">
        <h1 class="head" style="color: sandybrown; font-weight: bold;">List of Repositories</h1>
        <hr>
        <div class="container justify-content-center row">
            <div class="card card-n col-4 m-2" appHighlight *ngFor="let repository of repos" style="width: 22rem; color: snow; background-color: rgba(160, 81, 45, 0.671);">
                <div class="card-body">
                    <h5 class="title">{{repository.name}} </h5>
                    <div class="card-text">
                        <hr>
                        <span>Description:</span> {{repository.description}}
                        <hr>
                        <span>Language: </span> {{repository.language}}&nbsp;&nbsp;{{repository.updated_at | repoDate}}
                    </div>
                </div>
                <div class="card-footer" id="btn">
                    <button class="btn btn btn-secondary"><a href="{{repository.html_url}}">Visit Repo</a></button>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</div>
