img {
    border-radius: 20%;
    height: 20rem;
    width: 20rem;
}



.head {
    margin-top: 90px;
    text-align: center;
}

.username {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#fa {
    color: rgb(252, 253, 252);
}

.user-login {
    font-size: 20px;
}

.nkak {
    margin-top: 40px;
    padding: 5px;
    box-shadow: 5px 10px 8px 10px #c44902;
    background: rgba(207, 84, 36, 0.671);
}

.btn a {
    color: ivory;
    text-decoration: none;
}
.card-n{
    background-color: #c4490293; 
}
.card-n:hover{
    background-color: #c44902;
}