
  .nav input[type=text] {
    padding: 4px;
    margin-top: 8px;
    font-size: 15px;
    border: 50%;
    width: 400px;
}

.nav .search-container {
    margin-top: 40px;
    margin-left: 370px;
}

.nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 2px;
    margin-right: 16px;
    background: rgb(184, 76, 4);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.nav .search-container button:hover {
    background: rgb(167, 97, 31);
}

.nav .search-container {
    margin-top: 40px;
    margin-left: 800px;
}

.nav .search-container button {
    float: inline-end;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgb(163, 72, 11);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.nav .search-container button:hover {
    background: rgb(3, 3, 3);
}